@font-face {
    font-family: Yekan Bakh;
    src: url(Assets/fonts/YekanBakh-VF.ttf) format("ttf");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: Valman;
    src: url(Assets/fonts/Valman-Black.ttf);
}

*{
    padding: 0px;
    margin: 0px;
}

html{
    overflow-x: hidden;
}

body{
    font-family: Yekan Bakh;
    display: flex; justify-content: center; flex-direction: column; align-items: center; 
}

#top{
    height: 950px; background: linear-gradient(150deg, black 20%, #1f1f1f 100%) ;
    display: flex; justify-content: top; flex-direction: column; align-items: center; gap: 30px;
}

header{
    width: clamp(300px, 70%, 600px);height: fit-content; padding-left: 30px; padding-right: 30px; padding-top: 15px; padding-bottom: 15px; margin-top: 20px;
    background: linear-gradient(137deg, rgba(7.85, 7.85, 7.85, 0.60) 0%, rgba(57.87, 57.87, 57.87, 0.60) 49%,
    rgba(7.85, 7.85, 7.85, 0.60) 100%); border-radius: 25px; justify-content: space-between; align-items: center;
    display: inline-flex;
}

.header-text{
    opacity: 0.85; text-align: justify; color: white; font-size: 15px; font-family: Yekan Bakh; font-weight: 400;
    line-height: 33px; word-wrap: break-word;
}
#container{
    width: 100%; height: fit-content; display: flex; flex-direction: column; align-items: center; gap: 50px; margin-top: 200px;
}
@media(max-width:  500px){
    .png{
        width: 85%;
    }
    .svg{
        width: 100%;
    }
}
